@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Slackey&display=swap");

* {
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  padding: 0;
  margin: 0;
}
.bg_body {
  background-color: #fffaf5;
}

:root {
  /* Font_Size */
  --fs-14: 12px;
  --fs-16: 14px;
  --fs-18: 13px;
  --fs-20: 17px;
  --fs-22: 20px;
  --fs-27: 22px;
  --fs-35: 22px;
  --fs-45: 22px;
  --fs-55: 25px;

  /* COLOR */
  --clr-black: #000000;
  --clr-gray: #656689;
  --clr-blueGray: #5e6085;
  --clr-darkblue: #000958;
  --clr-orange: #ff5b2e;
  --clr-white: #ffffff;
  --clr-bgSecondaary: #fff4e9;
}
@media (min-width: 576px) {
  :root {
    /* Font_Size */
    --fs-14: 14px;
    --fs-16: 14px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-27: 27px;
    --fs-35: 35px;
    --fs-45: 40px;
    --fs-55: 30px;
  }
}
@media (min-width: 768px) {
  :root {
    /* Font_Size */
    --fs-14: 14px;
    --fs-16: 14px;
    --fs-18: 16px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-27: 27px;
    --fs-35: 30px;
    --fs-45: 26px;
    --fs-55: 31px;
  }
}
@media (min-width: 992px) {
  :root {
    /* Font_Size */
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 17px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-27: 27px;
    --fs-35: 35px;
    --fs-45: 45px;
    --fs-55: 55px;
  }
}
@media (min-width: 1200px) {
  :root {
    /* Font_Size */
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-27: 27px;
    --fs-35: 35px;
    --fs-45: 45px;
    --fs-55: 55px;
  }
}

.clr_black {
  color: var(--clr-black) !important;
}
.clr_gray {
  color: var(--clr-gray) !important;
}
.clr_blueGray {
  color: var(--clr-blueGray) !important;
}
.clr_darkblue {
  color: var(--clr-darkblue) !important;
}
.clr_orange {
  color: var(--clr-orange) !important;
}
.clr_white {
  color: var(--clr-white) !important;
}
.bg_secondary {
  background-color: var(--clr-bgSecondaary);
}

.fs_14 {
  font-size: var(--fs-14) !important;
}
.fs_16 {
  font-size: var(--fs-16) !important;
}
.fs_18 {
  font-size: var(--fs-18) !important;
}
.fs_20 {
  font-size: var(--fs-20) !important;
}
.fs_22 {
  font-size: var(--fs-22) !important;
}
.fs_27 {
  font-size: var(--fs-27) !important;
}
.fs_35 {
  font-size: var(--fs-35) !important;
}
.fs_45 {
  font-size: var(--fs-45) !important;
}
.fs_55 {
  font-size: var(--fs-55) !important;
}

.fw_400 {
  font-weight: 400 !important;
}
.fw_500 {
  font-weight: 500 !important;
}
.fw_600 {
  font-weight: 600 !important;
}
.ff_slackey {
  font-family: "Slackey", cursive !important;
}
.ff_poppins {
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1164px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.gap_55 {
  gap: 55px;
}

.pad_18_32 {
  padding: 18px 32px !important;
}
.Sign_up_button {
  border: 1px solid var(--clr-darkblue) !important;
  border-radius: 5px !important;
  background-color: transparent !important;
}

.nav li a:hover {
  color: var(--clr-darkblue) !important;
}
.z_51 {
  z-index: 515;
}
@media (max-width: 576px) {
  .mobile_screen {
    flex-direction: column;
    position: fixed;

    height: 100vh;
    left: -100%;
    top: 0;
    justify-content: center;
    gap: 55px;
    background-color: var(--clr-bgSecondaary);
    z-index: 50;
  }
  .naV_0 {
    left: 0;
  }
}
@media (min-width: 576px) {
  .gap_55 {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .gap_55 {
    gap: 55px;
  }
}
.z_3 {
  z-index: 3;
}
.max_w_482 {
  max-width: 482px;
}
.pad_22_26 {
  padding: 22px 26px !important;
}
.bg_orange {
  background-color: var(--clr-orange) !important;
}
.mg_left_n17 {
  margin-left: -17px;
}
.gap_56 {
  gap: 6px;
}
.caretaker {
  max-width: 40px;
}

.more7 {
  background: rgba(255, 91, 46, 0.75);
  padding: 4px 4px 4px 4px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.caretaker:hover {
  z-index: 2;
  transform: scale(1.5);
}
.gap_20 {
  gap: 10px;
}

.cat_hero {
  /* transform: scale(1.15); */
  border-radius: 0 29px 29px 0;
}
.hero_dog {
  transform: translate(25%, 32%);
  border-radius: 30px;
  outline: 8px solid #fffaf5;
  outline-offset: -8px;
}

.max_w_300 {
  max-width: 316px;
}
.w_58 {
  width: 58%;
}
.orange_btn_shadow {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.data_orange_linear {
  background: linear-gradient(97.17deg, #ff5d31 2.51%, #ff9f2e 70.22%);
  border-radius: 34px 34px 0px 00px;
}
.Green_hero_bg {
  background: linear-gradient(110.59deg, #009f97 7.32%, #00c8bd 98.68%);
  border-left: 0;
  border-radius: 0px 0px 34px 34px;
}
.lh_28 {
  line-height: 28px;
}
.w_65 {
  width: 65%;
}
.pad_31_34 {
  padding: 31px 34px 38px 31px;
}
.clr_48 {
  color: #48496a;
}

.Curl_line {
  bottom: -6%;
  right: 16%;
}
.orange_plus {
  left: 6%;
  bottom: 0%;
}
.green_plus {
  top: 15%;
  right: 13%;
}
.gap_29 {
  gap: 29px;
}

.services_slider {
  box-shadow: -17px 18px 6px 1px rgb(231 210 183 / 25%);
  border-radius: 44px;
  padding: 30px 36px 47px 36px;
  background-color: #fffaf5;
}
.clr_F3 {
  color: #f3f3f3;
}

.Cat_width {
  max-width: 450px;
}
.lh_24 {
  line-height: 24px;
}
.services_slider:hover {
  background-color: #fb901a;
}

.services_slider:hover h4 {
  color: white !important;
}
.services_slider:hover p {
  color: #f3f3f3 !important;
}

.max_w_250 {
  max-width: 250px;
}
.slick-track {
  padding-bottom: 50px;
}
.arrow_slider {
  right: -50px;
}
.gap_72 {
  gap: 72px;
}
.gap_15 {
  gap: 15px;
}
.services_button {
  position: relative;
  left: 0;
  transform: translateX(0);
}
.btn-primary svg {
  stroke: var(--clr-orange);
  height: 4em;
  width: 4em;
}

.z_10 {
  z-index: 10;
}
.lh_55 {
  line-height: 55px;
}
.gap_147 {
  gap: 24px;
}
.br_300 {
  border-radius: 300px;
}
.border_dog {
  outline: 5px solid #ffefde;
  outline-offset: 10px;
}
/* Facilities Lines */
.facilites_afterLine::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #ffefde;
  width: 100%;
  bottom: 0;
  left: 0;
}
.facilites_beforeLine::before {
  content: "";
  position: absolute;
  border-bottom: 5px solid #ffefde;
  width: 100%;
  bottom: 0;
  right: 0;
}
@media (min-width: 576px) {
  .caretaker {
    max-width: 55px;
  }
  .more7 {
    background: rgba(255, 91, 46, 0.75);
    padding: 9px 12px 8px 10px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  /* Facilities Lines */
  .facilites_afterLine::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #ffefde;
    width: 107%;
    bottom: -10%;
    left: 0;
  }
  .hero_cat_position {
    left: 0px;
    top: 30px;
    position: absolute;
  }
  .facilites_beforeLine::before {
    content: "";
    position: absolute;
    border-bottom: 5px solid #ffefde;
    width: 109%;
    bottom: -10%;
    right: 0;
  }
  .facilites_circle::after {
    content: "";
    position: absolute;
    left: -32px;
    bottom: -23px;
    width: 26px;
    height: 25px;
    background: linear-gradient(
      145.61deg,
      rgba(255, 96, 49, 0.6) 15.14%,
      rgba(249, 168, 14, 0.6) 93.39%
    );
    border-radius: 50%;
    border: 6px solid #ffefde;
    z-index: 10;
  }
  .Curl_line {
    bottom: -11%;
    right: 16%;
  }
  .data_orange_linear {
    background: linear-gradient(97.17deg, #ff5d31 2.51%, #ff9f2e 70.22%);
    border-radius: 34px 0px 0px 10px;
  }
  .Green_hero_bg {
    background: linear-gradient(110.59deg, #009f97 7.32%, #00c8bd 98.68%);
    border-left: 5px solid #ffefde;
    border-radius: 40px 40px 10px 0px;
  }
  .facilites_circle1::before {
    content: "";
    position: absolute;
    right: -24px;
    bottom: -23px;
    width: 26px;
    height: 25px;
    background: linear-gradient(
      145.61deg,
      rgba(255, 96, 49, 0.6) 15.14%,
      rgba(249, 168, 14, 0.6) 93.39%
    );
    border-radius: 50%;
    border: 6px solid #ffefde;
    z-index: 10;
  }
  .services_button {
    position: relative;
    left: 50%;
    transform: translateX(-5%);
  }
  .Cat_width {
    max-width: 327px;
  }
}
@media (min-width: 992px) {
  .border_dog {
    outline: 5px solid #ffefde;
    outline-offset: 50px;
  }
  .Cat_width {
    max-width: 410px;
  }
  .hero_cat_position {
    left: 0;
    top: 100px;
  }
  .dotSquare {
    transform: translate(100%, 15%);
  }
  .gap_147 {
    gap: 65px;
  }
  .gap_20 {
    gap: 20px;
  }
  .orange_plus {
    left: 17%;
    bottom: 4%;
  }
  .gap_56 {
    gap: 56px;
  }
  /* Facilities Lines */
  .facilites_afterLine::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #ffefde;
    width: 100%;
    bottom: -24%;
    left: 0;
  }
  .facilites_beforeLine::before {
    content: "";
    position: absolute;
    border-bottom: 5px solid #ffefde;
    width: 100%;
    bottom: -24%;
    right: 0;
  }

  .facilites_circle::after {
    content: "";
    position: absolute;
    left: -16px;
    bottom: -34px;
    width: 26px;
    height: 25px;
    background: linear-gradient(
      145.61deg,
      rgba(255, 96, 49, 0.6) 15.14%,
      rgba(249, 168, 14, 0.6) 93.39%
    );
    border-radius: 50%;
    border: 6px solid #ffefde;
    z-index: 10;
  }

  .facilites_circle1::before {
    content: "";
    position: absolute;
    right: -16px;
    bottom: -34px;
    width: 26px;
    height: 25px;
    background: linear-gradient(
      145.61deg,
      rgba(255, 96, 49, 0.6) 15.14%,
      rgba(249, 168, 14, 0.6) 93.39%
    );
    border-radius: 50%;
    border: 6px solid #ffefde;
    z-index: 10;
  }
  .gap_36 {
    gap: 36px;
  }
  .lh_30 {
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .gap_147 {
    gap: 147px;
  }
  .hero_cat_position {
    left: 0;
    top: 10px;
  }
  .Cat_width {
    max-width: 486px;
  }

  /* Facilities Lines */
  .facilites_afterLine::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #ffefde;
    width: 140%;
    bottom: -74%;
    left: 0;
  }
  .facilites_beforeLine::before {
    content: "";
    position: absolute;
    border-bottom: 5px solid #ffefde;
    width: 140%;
    bottom: -74%;
    right: 0;
  }

  .facilites_circle::after {
    content: "";
    position: absolute;
    left: -114px;
    bottom: -86px;
    width: 26px;
    height: 25px;
    background: linear-gradient(
      145.61deg,
      rgba(255, 96, 49, 0.6) 15.14%,
      rgba(249, 168, 14, 0.6) 93.39%
    );
    border-radius: 50%;
    border: 6px solid #ffefde;
    z-index: 10;
  }

  .facilites_circle1::before {
    content: "";
    position: absolute;
    right: -114px;
    bottom: -86px;
    width: 26px;
    height: 25px;
    background: linear-gradient(
      145.61deg,
      rgba(255, 96, 49, 0.6) 15.14%,
      rgba(249, 168, 14, 0.6) 93.39%
    );
    border-radius: 50%;
    border: 6px solid #ffefde;
    z-index: 10;
  }
}

@media (min-width: 1350px) {
  .Cat_width {
    max-width: 520px;
  }
}
